.btn_log {
  width: 150px;
  font-family: noah, sans-serif;
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  background-color: transparent;
  border: none;
  border-radius: 50px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 15px;
  transition: background-color .2s ease-out;
}

.btn_active {
  background-color: $btn-color;
  transition: background-color .2s ease-out;
}

.btn_log:hover {
  background-color: #8e9c8b40;
}

.btn_active:hover {
  background-color: #8e9c8b40;
}

button.btn_log_small {
  width: 100px;
  font-size: 1em;
  font-weight: 700;
  color: #fff;
  background-color: $btn-color;
  border: transparent;
  border-radius: 50px;
  padding: 5px 15px;
  margin: 15px;
  transition: background-color .2s ease-out;
}

button.btn_log_small:hover {
  background-color: transparent;
}