@font-face {
  font-family: 'noah';
  src: url('./../../fonts/Noah/Noah-Regular.woff2') format('woff2'),
  url('./../../fonts/Noah/Noah-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'noah';
  src: url('./../../fonts/Noah/Noah-Bold.woff2') format('woff2'),
  url('./../../fonts/Noah/Noah-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: noah, sans-serif;
  background-image: url("./../../images/background_v2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}