.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header_base {
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    margin-top: 40px;
    transition: color 2s ease-out;

    &:hover {
      color: $btn-color;
    }

    span {
      color: #8e9c8b;
    }
  }

  .header_log {
    margin-top: 40px;
  }

  .scroll {
      background-image: url("./../../images/background_v2.png");
      background-size: cover;
      background-position: initial;
      background-repeat: no-repeat;
      height: 100vh;
      width: 100vw;
  }
}