.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .header_base {
    font-size: 1.5em;
    font-weight: 700;
    color: #fff;
    margin-top: 40px;
    transition: color 2s ease-out;

    &:hover {
      color: $btn-color;
    }

    span {
      color: #8e9c8b;
    }
  }

  .header_log {
    margin-top: 40px;
  }
}