@mixin custom-log {
  font-size: 1em;
  font-weight: 700;
  border: transparent;
  border-radius: 50px;
  margin: 15px;
}

.logpanel {
  font-weight: 700;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 10px;
  }

  input[type="name"],
  input[type="password"] {
    padding: 15px 10%;
    @include custom-log;
  }

  input[type="checkbox"] {
    display: none;
  }

  label {
    color: $btn-color;
    margin: 15px;
    transition: color .2s ease-out;

    &:hover {
      color: #fff;
    }
  }

  .remember {
    color: #fff;
    margin: 15px;
  }

  .invalid {
    background-color: #BB8F78B3;
    box-shadow: 0 0 0 1px #fff;

    &::placeholder {
      color: #fff;
    }
  }
}